<div class="index-list">
    <ul>
        {% for item in items %}
            <li class="index-list__item">
                <a href="{{ item.url }}" class="index-list__link">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
